.btn-add-schedule {
  border-radius: 10px;
  background: $button-bg;
  cursor: pointer;
  float: right;
  padding: 4px 12px;
  text-align: center;
}

.message-box {
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 5px;
  opacity: 0;
  overflow: hidden;
  padding: 10px 20px;
  position: fixed;
  right: 10px;
  top: 10px;
  transition: opacity .5s ease-out;
  width: 250px;

  &.expanded {
    opacity: 1;
    transition: opacity .5s ease-in;
  }

  &.error-message {
    background-color: $error-bg;
  }

  &.success-message {
    background-color: $success-bg;
  }

  &.default-message {
    background-color: $default-bg;
  }
}
