body {
  background-color: $background-main;
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  margin: 15px auto;
  max-width: 500px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Zilla Slab', serif;
}
